

* {
  margin: 0;
  padding: 0;
}
.fondo-rosa{
  background: url(../assets/img/caferosasi.jpg);
  background-repeat: no-repeat;
  width:100%;
  height:50vh;
  margin-top: 2%;

  
}

.tituloForm{
  font-family: arial;
  color:rgb(87, 30, 12);
  text-align: right;
  font-size: 250%;
  font-weight: bolder;
  padding-top: 7%;
  margin-right: 6%;
  
}

h2{
  font-family: arial;
  color:rgb(87, 30, 12);
  text-align: right;
  font-size: 200%;
  padding-right: 6%;
  margin-top: 5px;
}

.CATA{
  font-family: arial;
  color:rgb(87, 30, 12);
  display:flex;
  justify-content: flex-end;
  text-decoration: none;
  padding-right: 3%;
  margin-top: 6px;
  font-size: 160%;
  width:9%;
  height:9%;
  border-color: rgb(87, 30, 12);
  border-width: 3px;
  border-style: solid;
  border-radius: 50px;
  margin-left: 81%;
  margin-top: 1%;
  padding-top:10px; 
  padding-left: 18px;   

}

.info{
  display: grid;
  grid-template-columns:20% 2% 22% 2% 17%;
  justify-content: center;
  margin-top: 5%;
}




.hijo{
  display: flex;
  justify-content: space-around;
}


.imagen{
  width:50px;
  
}


.imagenn{
  width:50px;
  height:50px;
  margin-left: 5%;
}

.imagene{
  width:50px;
  height:50px;
  margin-left: 5%;
}

.parrafo{
  font-family: arial;
  font-size: 160%;
  color:rgb(87, 30, 12) ;
  display:flex;
  align-items: center;
}

.als{
  list-style: none;
  font-size: 160%;
  margin-top: 7px;
  margin-left: 10px;
}

.alss{
  list-style: none;
  font-size: 160%;
  margin-top: 7px;
  margin-left: 15px;
}

.destacados{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% ;
  margin-left: 20%;
  margin-top: 4%;
}

h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  font-size: 160%;
  color:rgb(87, 30, 12) ;
  margin-top: 6%;
}

.coood{
  width: 90%;
  height: 80%;
}

.coood:hover{
  opacity: 0.6;
}

.tituloDestacados{
  font-family: arial;
  font-size: 130%;
  color:rgb(87, 30, 12) ;
  margin-top: 2%;
  
}

.preciiiio{
  font-family: arial;
  font-size: 120%;
  color:rgb(87, 30, 12) ;
  margin-top: 2%;
}

.asul{
  text-decoration: none;
}


.tituloDestacados:hover{
  color:rgb(233, 104, 179);
}

.botonProdc{
  font-family: arial;
  color:rgb(87, 30, 12);
  display:flex;
  justify-content: center;
  text-decoration: none;
  padding-right: 3%;
  margin-top: 6px;
  font-size: 130%;
  width:180px;
  height:30px;
  border-color: rgb(87, 30, 12);
  border-width: 3px;
  border-style: solid;
  border-radius: 50px;
  margin-top: 3%;
  padding-top:4px; 
  margin-left: 45%;
  padding-left: 3%;
  margin-bottom: 4%;

    
}


.seccion{
  background: url(../assets/img/caferosaotro.jpg);
  height: 300px;
}

.contc{
  font-family: arial;
  color:rgb(87, 30, 12);
  text-align: right;
  font-size: 250%;
  font-weight: bolder;
  padding-top: 5%;
  padding-right: 6%;
}

.con{
  font-family: arial;
  color:rgb(87, 30, 12);
  text-align: right;
  font-size: 200%;
  padding-right: 6%;
  margin-top: 5px;
}


.ayuda{
  color:rgb(87, 30, 12);
  text-decoration: none;
  font-family: arial;
  font-family: arial;
  color:rgb(87, 30, 12);
  display:flex;
  justify-content: center;
  text-decoration: none;
  padding-right: 3%;
  margin-top: 6px;
  font-size: 130%;
  width:20px;
  height:30px;
  border-color: rgb(87, 30, 12);
  border-width: 3px;
  border-style: solid;
  border-radius: 50px;
  margin-top: 1%;
  padding-top:4px; 
  margin-left: 86%;
  padding-left: 3%;
  margin-bottom: 4%;
}



