* {
    margin: 0;
    padding: 0;
  }

.fondo-blanco{
    background: url(../assets/img/caff.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    margin-top: 7%;
    height: 240px;
}

.todosP{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: arial;
    font-size: 160%;
    padding-top: 5%;
    color:rgb(87, 30, 12);
    font-weight: bolder;
    margin-right: 20%;

}


.catalogo{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    
}

.coffiba{
width: 260px;
height: 300px;
}

.coffiba:hover{
    opacity: 0.6;
}

.nombre{
    font-family: arial;
    font-size: 130%;
    color:rgb(87, 30, 12) ;
    margin-top: 2%;
    
}

.preciaa{
    font-family: arial;
    font-size: 120%;
    color:rgb(87, 30, 12) ;
    margin-top: 2%;
}

.asil{
    text-decoration: none;
    margin-bottom: 6%;
}

.nombre:hover{
    color:rgb(233, 104, 179);
}


